.theme-btn{
    display:inline-flex;
    justify-content: center;
    text-align: center;
    white-space: nowrap;
    transition:all 0.3s ease;
    font-family: var(--text-font2);
    .btn-title {
        position: relative;
        display: flex;
        align-items: center;
    }
}

/*Btn Style One*/
.btn-style-one {
    position: relative;
    font-size: 16px;
    line-height: 25px;
    padding: 14px 32px 18px;
    overflow: hidden;
    color: var(--theme-color1);
    border: 1px solid var(--theme-color1);
    background: #f8f5f0;
    text-transform: uppercase;
    z-index: 9;
    i{
        position: relative;
        display: block;
        margin-left: 10px;
    }
    &:before {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        content: "";
        z-index: -1;
        background-color: var(--bg-theme-color1);
        border-radius: inherit;
        transform: scale(0, 1);
        transform-origin: top right;
        transition: -webkit-transform 500ms cubic-bezier(0.860, 0.000, 0.070, 1.000);
        transition: transform 500ms cubic-bezier(0.860, 0.000, 0.070, 1.000);
        transition: transform 500ms cubic-bezier(0.860, 0.000, 0.070, 1.000), -webkit-transform 500ms cubic-bezier(0.860, 0.000, 0.070, 1.000);
        transition-timing-function: cubic-bezier(0.860, 0.000, 0.070, 1.000);
    }
    &:hover:before {
        transform: scale(1, 1);
        transform-origin: bottom left;
    }
    &:hover {
        color: #fff;
    }
}



.theme-btn.small{
    padding: 10px 30px;
    line-height: 20px;
    font-size: 10px;
}

.theme-btn.large{
    padding: 20px 60px;
    line-height: 25px;
}