
/***

==================================================================
	Main Footer
==================================================================

***/

.main-footer{
	position: relative;
	background-color: var(--bg-theme-color2);
	.bg{background-size: auto;}
	.footer-bg-1{background-image: url(../images/icons/footer-bg-1.png);background-color: #0a0a0a;background-position: left bottom;}
	.footer-bg-2{background-image: url(../images/icons/footer-bg-2.png);background-position: right bottom;}
	.footer-bg-3{background-image: url(../images/icons/footer-bg-3.png);background-position: right bottom;}
	.footer-bg-4{background-image: url(../images/icons/footer-bg-4.png);background-position: right bottom; opacity: .1;}
	.footer-bg-5{background-image: url(../images/icons/footer-bg-5.png);background-position: center; background-size: cover;}
	.footer-bg-6{background-image: url(../images/icons/footer-bg-6.png);background-position: right bottom;}
	.footer-bg-7{background-image: url(../images/icons/footer-bg-7.png);}
	.footer-bg-8{background-image: url(../images/icons/footer-bg-8.png);}
	.footer-bg-9{background-image: url(../images/icons/footer-bg-9.png);background-position: right bottom;}
	.footer-bg-10{background-image: url(../images/icons/footer-bg-10.png);background-position: right bottom;}
	.footer-bg-11{background-image: url(../images/icons/footer-bg-11.png);}

	/* Widget Section */
	.widgets-section{
		position: relative;
		padding: 116px 0 30px;
	}
	.footer-column {
		position: relative;
		margin-bottom: 50px;
	}
	.footer-widget {
		position: relative;
	}
	.widget-title {
		position: relative;
		color: var(--theme-color-light);
		margin-bottom: 22px;
	}
	.widget-content{
		position: relative;
		.text{
			color: var(--theme-color-light);
		}
	}
}

//User Links
.user-links {
	position: relative;
	li {
		position: relative;
		font-size: 14px;
		line-height: 32px;
		color: #929292;
		font-weight: 400;
		margin-bottom: 2px;
		&:last-child { 	
			margin-bottom: 0;
		}
		a {
			position: relative;
			display: inline-block;
			color: inherit;
			transition: all 300ms ease;
			&:hover {
				color: #FFFFFF;
			}
			&:before {
				position: absolute;
				left: 0;
				bottom: 3px;
				width: 0;
				height: 1px;
				background-color: var(--bg-theme-color1);
				content: "";
				transition: all 300ms ease;
			}
			&:hover:before {
				width: 100%;
			}
		}
	}
	&.style-two{
		li{
			padding-left: 0;
			&:before{display: none;}
		}
	}
	&.two-column{
		display: flex;
		flex-wrap: wrap;
		li{
			width: 50%;
			flex: 0 0 50%;
		}
	}
}

//Recent Post
.recent-post{
	position: relative;
	margin-bottom: 30px;
	&:last-child{margin-bottom: 0;}
	.inner{
		position: relative;
		.post-info {
			position: relative;
			display: flex;
			font-size: 16px;
			align-items: center;
			color: #adadad;
			line-height: 30px;
			margin-bottom: 23px;
			padding-left: 25px;
			i {
				position: absolute;
				top: 0;
				left: 0;
				font-size: 14px;
				margin-right: 10px;
				color: var(--theme-color1);
			}
        }
		.post-title{
			color: var(--theme-color-light);
			letter-spacing: -0.8px;
			margin-bottom: 0;
		}
	}
}

/* Subscribe Form */
.subscribe-form {
	position: relative;
	.form-group {
		position: relative;
		input[type=text],
		input[type=email] {
			position: relative;
			display: block;
			height: 72px;
			width: 100%;
			font-size: 16px;
			line-height: 32px;
			color: var(--theme-color-light);
			padding: 20px 30px;
			background: transparent;
			border: 1px solid #333F4D;
			border-radius: 10px;
			transition: all 300ms ease;
			&::placeholder {
				color: #fff;
			}
		}
		.theme-btn {
			position: absolute;
			right: 0;
			top: 0;
			padding: 20px 30px;
			line-height: 32px;
			border-radius: 0 10px 10px 0;
			@include flex-center;
		}
	}
}

/*=== Footer Bottom ===*/
.footer-bottom {
	position: relative;
	z-index: 3;
	border-top: 1px solid #333F4D;
	padding: 30px 0;
	.inner-container{
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	.copyright-text {
		position: relative;
		margin-bottom: 0;
		color: rgba(255,255,255,.7);
		a {
			color: inherit;
			&:hover {
				color: #ffffff;
			}
		}
	}

	.footer-nav{
		position: relative;
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-end;
		li{
			font-size: 16px;
			line-height: 32px;
			color: rgba(255, 255, 255, .7);
			margin-left: 30px;
			&:first-child{margin-left: 0;}
			a{
				color: inherit;
				&:hover{color: var(--theme-color-light);}
			}
		}
	}
}


//=============================
// footer Style One
//=============================
.footer-style-one{
	background-color: var(--theme-color-dark);
	.about-widget{
		margin-top: 14px;
		.logo{
			position: relative;
			top: -20px;
			margin-bottom: 30px;
		}
		.text{
			margin-bottom: 47px;
			font-size: 16px;
			color: #adadad;
		}
		.social-icon-two{
			display: flex;
			li{
				margin-right: 6px;
				&:last-child{
					margin-right: 0;
				}
				a{
					height: 40px;
					width: 40px;
					text-align: center;
					line-height: 40px;
					color: #adadad;
					border-radius: 50%;
					border: 1px solid #adadad;
					display: inline-block;
                    &:hover{
                        background-color: var(--theme-color1);
                        border-color: transparent;
						color: #fff;
                    }
				}
			}
		}
	}
	.links-widget{
		margin-bottom: 50px;
        li{
            padding-left: 27px;
            a{
                color: #adadad;
            }
            i{
                position: absolute;
                left: -27px;
            }
        }
	}
    .news-widget{
        .text{
            margin-bottom: 18px;
            color: #adadad;
            i{
                margin-right: 20px;
            }
        }
    }
	.info-widget{
		.widget-content{
			.recent-post{
				.inner{
					.post-info{
						&:first-child{
							margin-bottom: 0;
						}
					}
				}
			}
		}
	}
    /* Subscribe Form Three */
    .subscribe-form-three{
        position: relative;
        margin-bottom: 40px;
        .form-group {
            position: relative;
            input[type=text],
            input[type=email] {
                position: relative;
                display: block;
                height: 50px;
                width: 100%;
                font-size: 14px;
                line-height: 30px;
                color: var(--theme-color2);
                padding: 20px 65px 20px 18px;
                background: unset;
                transition: all 300ms ease;
                border: 1px solid #303030;
                &::placeholder {
                    color: var(--theme-color2);
                }
            }
            .theme-btn {
                position: absolute;
                right: 0;
                top: 0;
                padding: 15px 5px;
                width: 50px;
                height: 50px;
                line-height: 21px;
                text-align: center;
                background-color: var(--theme-color1);
                color: var(--theme-color-light);
                &::before{
                    background-color: var(--theme-color-light);
                }
                &:hover{
                    color: var(--theme-color1);
                }
                i{margin-left: 0;}
            }
        }
    }
    .footer-bottom{
        border: 0;
        padding: 0;
        .inner-container{
            padding: 14px 30px 17px;
            justify-content: space-between;
            font-size: 14px;
            color: #adadad;
			background-color: #333333;
            a{
                width: 17px;
                height: 17px;
                text-align: center;
                line-height: 18px;
                background-color: var(--theme-color1);
                border-radius: 50%;
                display: inline-block;
                font-size: 8px;
				margin-top: 3px;
            }
        }
    }
}


//=============================
// footer Style two
//=============================
.footer-style-two{
	background-color: var(--theme-color-dark);
	.widgets-section {
		padding: 106px 0 44px;
	}
	.about-widget{
		margin-top: 14px;
		.logo{
			position: relative;
			margin-bottom: 30px;
			margin-top: -20px;
		}
		.text{
			margin-bottom: 34px;
			font-size: 16px;
			color: #adadad;
		}
		.social-icon-two{
			display: flex;
			li{
				margin-right: 6px;
				&:last-child{
					margin-right: 0;
				}
				a{
					height: 40px;
					width: 40px;
					text-align: center;
					line-height: 40px;
					color: #adadad;
					border-radius: 50%;
					border: 1px solid #adadad;
					display: inline-block;
                    &:hover{
                        background-color: var(--theme-color1);
                        border-color: transparent;
						color: #fff;
                    }
				}
			}
		}
	}
	.links-widget{
		margin-bottom: 50px;
		.widget-content{
			display: flex;
			.user-links{
				padding-right: 36px;
				&:last-child{
					padding-right: 0;
				}
				li{
					padding-left: 27px;
					a{
						color: #adadad;
						&:hover{
							color: var(--theme-color1);
						}
					}
					i{
						position: absolute;
						left: -27px;
					}
				}
			}
		}
	}
    .news-widget{
       .news-info{
			position: relative;
			padding-left: 91px;
			margin-bottom: 18px;
			@include media-breakpoint-down(xl){
				padding-left: 87px;
			}
			&:hover {
				.image {
					img {
						transform: scale(1.2);
					}
				}
			}
			&:last-child{
				margin-bottom: 0;
			}
			.image{
				position: absolute;
				left: 0;
				top: 5px;
				overflow: hidden;
				img {
					transition: all 0.3s ease;
				}
			}
			.title{
				color: #adadad;
				margin-bottom: -4px;
			}
			.date{
				font-size: 12px;
				color: var(--theme-color1);
			}
	   }
    }
	.info-widget{
		.widget-content{
			.recent-post{
				.inner{
					.post-info.two{
						margin-bottom: 0;
					}
				}
			}
		}
	}
    .footer-bottom{
        border: 0;
        padding: 0;
        background-color: #333333;
        .inner-container{
            padding: 14px 0 17px;
            justify-content: space-between;
            font-size: 14px;
            color: #adadad;
            a{
                width: 17px;
                height: 17px;
                text-align: center;
                line-height: 17px;
                background-color: var(--theme-color1);
                border-radius: 50%;
                display: inline-block;
                font-size: 12px;
            }
        }
    }
	.recent-post .inner .post-info {
		margin-bottom: 10px;
		&:last-child {
			margin-bottom: 0;
		}
	}
}

@media only screen and (max-width:991px) {
	.footer-style-two .news-widget .news-info {margin-bottom: 50px;}
}

@media only screen and (max-width:480px) {
	.footer-bottom .copyright-text {line-height: 20px;margin-bottom: 15px;}
}

